In [1]:
# |exporti

import pandas as pd
import streamlit as st
import dateutil.parser as dparser
from streamlit_jupyter import StreamlitPatcher

In [2]:
sp = StreamlitPatcher()
sp.jupyter()  # register patcher with streamlit

In [3]:
# |exporti
import os

project_name = 'Overgraph'
path = os.getcwd().split(project_name)[0] + project_name
owl_path = f'{path}/src/datas/owl'

# MAPS

In [368]:
# |export
map_stats = pd.read_csv(f'{owl_path}/match_map_stats.csv')

# 2018 STAGE 1

In [369]:
# |exporti
df_2018_s1 = pd.read_csv(f'{owl_path}/phs_2018_stage_1.csv')

In [370]:
# df_2018_s1

# 2018 STAGE 2

In [371]:
# |exporti
df_2018_s2 = pd.read_csv(f'{owl_path}/phs_2018_stage_2.csv')

In [372]:
# df_2018_s2

# 2018 STAGE 3

In [373]:
# |exporti
df_2018_s3 = pd.read_csv(f'{owl_path}/phs_2018_stage_3.csv')

In [374]:
# df_2018_s3

# 2018 STAGE 4

In [375]:
# |exporti
df_2018_s4 = pd.read_csv(f'{owl_path}/phs_2018_stage_4.csv')

In [376]:
# df_2018_s4

# 2018 PLAYOFFS

In [377]:
# |exporti
df_2018_po = pd.read_csv(f'{owl_path}/phs_2018_playoffs.csv')

In [378]:
# df_2018_po

# 2019 STAGE 1

In [379]:
# |exporti
df_2019_s1 = pd.read_csv(f'{owl_path}/phs_2019_stage_1.csv')

In [380]:
# df_2019_s1

# 2019 STAGE 2

In [381]:
# |exporti
df_2019_s2 = pd.read_csv(f'{owl_path}/phs_2019_stage_2.csv')

In [382]:
# df_2019_s2

# 2019 STAGE 3

In [383]:
# |exporti
df_2019_s3 = pd.read_csv(f'{owl_path}/phs_2019_stage_3.csv')

In [384]:
# df_2019_s3

# 2019 STAGE 4

In [385]:
# |exporti
df_2019_s4 = pd.read_csv(f'{owl_path}/phs_2019_stage_4.csv')

In [386]:
# df_2019_s4

# 2019 PLAYOFFS

In [387]:
# |exporti
df_2019_po = pd.read_csv(f'{owl_path}/phs_2019_playoffs.csv')

In [388]:
# df_2019_po

# 2020 STAGE 1

In [389]:
# |exporti
df_2020_s1 = pd.read_csv(f'{owl_path}/phs_2020_1.csv')

In [390]:
# df_2020_s1

# 2020 STAGE 2

In [391]:
# |exporti
df_2020_s2 = pd.read_csv(f'{owl_path}/phs_2020_2.csv')

In [392]:
# df_2020_s2

# 2021 STAGE

In [393]:
# |exporti
df_2021 = pd.read_csv(f'{owl_path}/phs_2021_1.csv')

In [394]:
# df_2021

# 2022 STAGE

In [395]:
# |exporti
df_2022 = pd.read_csv(f'{owl_path}/phs_2022.csv')

In [396]:
# df_2022

# 2023 STAGE

In [397]:
# |exporti
df_2023 = pd.read_csv(f'{owl_path}/phs_2023.csv')

In [398]:
# df_2023

# MERGE DATAFRAMES

In [399]:
# |export
# merge every dataframes in one
df = pd.concat(
    [df_2018_s1, df_2018_s2, df_2018_s3, df_2018_s4, df_2018_po, df_2019_s1, df_2019_s2, df_2019_s3, df_2019_s4,
     df_2019_po, df_2020_s1, df_2020_s2, df_2021, df_2022, df_2023])

In [400]:
# df

# CLEAN DATA

In [421]:
# |exporti
df.replace({'hero': 'McCree'}, 'Cassidy', inplace=True)
df.replace({'hero': 'Lucio'}, 'Lúcio', inplace=True)
df.replace({'hero': 'Torbjorn'}, 'Torbjörn', inplace=True)
df = df[df['map_type'].str.lower() != 'UNKNOWN'.lower()]
df.replace({'team': 'Paris Eternal'}, 'Vegas Eternal', inplace=True)
df.replace({'team': 'Philadelphia Fusion'}, 'Seoul Infernal', inplace=True)
stage_2018 = ['Overwatch League - Stage 1', 'Overwatch League - Stage 2', 'Overwatch League - Stage 3',
              'Overwatch League - Stage 4', 'Overwatch League - Stage 1 - Title Matches',
              'Overwatch League - Stage 2 Title Matches',
              'Overwatch League - Stage 3 Title Matches', 'Overwatch League - Stage 4 Title Matches',
              'Overwatch League Inaugural Season Championship']
stage_2019 = ['Overwatch League Stage 1', 'Overwatch League Stage 2', 'Overwatch League Stage 3',
              'Overwatch League Stage 4', 'Overwatch League Stage 1 Title Matches',
              'Overwatch League Stage 2 Title Matches', 'Overwatch League Stage 3 Title Matches',
              'Overwatch League Stage 4 Title Matches', 'Overwatch League 2019 Post-Season']
stage_2020 = ['OWL 2020 Regular Season', 'OWL APAC All-Stars', 'OWL North America All-Stars']
stage_2021 = ['OWL 2021']
stage_2022 = ['Kickoff Clash: Qualifiers', 'Kickoff Clash: Tournament', 'Midseason Madness: Qualifiers',
              'Midseason Madness: Tournament', 'Summer Showdown: Qualifiers', 'Summer Showdown: Tournament',
              'Countdown Cup: Qualifiers', 'Countdown Cup: Tournament', 'Postseason']
stage_2023 = ['Pro-Am', 'Spring Qualifiers', 'Spring Knockouts', 'Midseason Madness', 'Summer Showdown',
              'Countdown Cup', 'Postseason']

for stage in stage_2018:
    df.replace({'stage': stage}, f'2018 : {stage}', inplace=True)
for stage in stage_2019:
    df.replace({'stage': stage}, f'2019 : {stage}', inplace=True)
for stage in stage_2020:
    df.replace({'stage': stage}, f'2020 : {stage}', inplace=True)
for stage in stage_2021:
    df.replace({'stage': stage}, f'2021 : {stage}', inplace=True)
for stage in stage_2022:
    df.replace({'stage': stage}, f'2022 : {stage}', inplace=True)
for stage in stage_2023:
    df.replace({'stage': stage}, f'2023 : {stage}', inplace=True)



# !!!! to save execution time, match_map_stats.csv cleaned version has been saved
# !!!! if it's your first run, you must uncomment the following part: 
# for col in ['match_winner', 'map_winner', 'map_loser', 'attacker', 'defender', 'team_one_name', 'team_two_name']:
#     map_stats.replace({col: 'Paris Eternal'}, 'Vegas Eternal', inplace=True)
#     map_stats.replace({col: 'Philadelphia Fusion'}, 'Seoul Infernal', inplace=True)
# map_stats['round_start_time'] = map_stats['round_start_time'].str.replace(' UTC', '')
# map_stats['round_end_time'] = map_stats['round_end_time'].str.replace(' UTC', '')
# map_stats['round_start_time'] = map_stats['round_start_time'].apply(lambda x: dparser.parse(x, fuzzy=True))
# map_stats['round_end_time'] = map_stats['round_end_time'].apply(lambda x: dparser.parse(x, fuzzy=True))
# map_stats.to_csv(f'{owl_path}/match_map_stats.csv', index=False)

# PLAYGROUND

In [402]:
df.columns

Index(['start_time', 'match_id', 'stage', 'map_type', 'map', 'player', 'team',
       'stat', 'hero', 'stat_amount'],
      dtype='object')

In [403]:
map_stats.columns

Index(['round_start_time', 'round_end_time', 'stage', 'match_id',
       'game_number', 'match_winner', 'map_winner', 'map_loser', 'map_name',
       'map_round', 'winning_team_final_map_score',
       'losing_team_final_map_score', 'control_round_name', 'Attacker',
       'Defender', 'team_one_name', 'team_two_name',
       'attacker_payload_distance', 'defender_payload_distance',
       'attacker_time_banked', 'defender_time_banked',
       'attacker_control_perecent', 'defender_control_perecent',
       'attacker_round_end_score', 'defender_round_end_score'],
      dtype='object')

In [544]:
# |export
def get_team_profile(team: str, stat: str, stage: str = None) -> pd.DataFrame:
    result = df[df['team'] == team]
    result = result[result['stat'] == stat]
    result = result[result['hero'] == 'All Heroes']
    if stage:
        print('stage filter')
        result = result[result['stage'] == stage]
    # sum of every stat_amount for the same match_id
    stat_result = result.groupby(['match_id'])['stat_amount'].sum()
    # before calculating the avg_stat, sum the stat_amount for the same match_id and same start_time
    # example:  3 differents start_time & 1 match_id, the mean will be the sum of the 3 stat_amount divided by 3
    total_stat_amount = result.groupby(['match_id', 'start_time'])['stat_amount'].sum()
    # get the number of start_time for the same match_id
    number_of_start_time_per_match = total_stat_amount.groupby(['match_id']).count()
    # calculate the avg_stat
    avg_stat = total_stat_amount.groupby(['match_id']).sum() / number_of_start_time_per_match
    result['stat_match_total'] = result['match_id'].apply(lambda x: stat_result[x])
    result['avg_stat'] = result['match_id'].apply(lambda x: avg_stat[x])
    # make every value of stat_match_total in stat_amount
    result['stat_amount'] = result['stat_match_total']
    result = result.drop(columns=['stat_match_total'])
    result = result.reset_index().merge(
        map_stats[['match_id', 'match_winner', 'team_one_name', 'team_two_name']], on='match_id')
    result['opponent'] = result['team_one_name']
    result['opponent'] = result['opponent'].where(result['team_one_name'] != team, result['team_two_name'])
    result = result.drop(columns=['team_one_name', 'team_two_name'])
    result = result.drop_duplicates(subset='match_id')
    result = result.set_index('match_id')
    result['start_time'] = result['start_time'].str.replace(' UTC', '')
    result['start_time'] = result['start_time'].apply(lambda x: dparser.parse(x, fuzzy=True))
    result = result.sort_values(by='start_time')
    
    # add a column winrate, that will start from 0%, and will be updated 
    result['winrate'] = 0
    win = 0
    loss = 0
    for match in result.index:
        if result.loc[match, 'match_winner'] == team:
            win += 1
        else:
            loss += 1
        result.loc[match, 'winrate'] = win / (win + loss) * 100
        
    # delete useless columns
    result = result.drop(columns=['index', 'stat', 'map_type', 'map', 'player', 'hero', 'team'])

    result.rename(
        columns={'start_time': 'Start Time', 'stat_amount': stat, 'match_winner': 'Match Winner', 'winrate': 'Winrate', 'opponent': 'Opponent', 'stage': 'Stage', 'avg_stat': f'Avg {stat}'},
        inplace=True)
    result.index.name = 'Match ID'
    return result

In [545]:
get_team_profile('Vegas Eternal', 'Hero Damage Done')

C:\Users\antap\AppData\Local\Temp\ipykernel_4992\3739937951.py:53: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '66.66666666666666' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.loc[match, 'winrate'] = win / (win + loss) * 100

,Start Time,Stage,Hero Damage Done,Avg Hero Damage Done,Match Winner,Opponent,Winrate
Match ID,,,,,,,
21209,2019-02-16 20:06:00,Overwatch League Stage 1,158329.157898,39582.289475,Vegas Eternal,London Spitfire,100.000000
21243,2019-02-23 20:05:00,Overwatch League Stage 1,288877.539596,72219.384899,Vegas Eternal,Los Angeles Gladiators,100.000000
21263,2019-03-02 20:06:00,Overwatch League Stage 1,185250.958492,46312.739623,Atlanta Reign,Atlanta Reign,66.666667
21303,2019-03-09 01:35:00,Overwatch League Stage 1,243317.837676,60829.459419,Vancouver Titans,Vancouver Titans,50.000000
21236,2019-03-10 19:06:00,Overwatch League Stage 1,217677.266882,54419.316720,San Francisco Shock,San Francisco Shock,40.000000
...,...,...,...,...,...,...,...
40967,2023-05-13 20:26:00,Spring Qualifiers,157359.024199,39339.756050,New York Excelsior,New York Excelsior,37.272727
40972,2023-05-19 19:12:00,Spring Qualifiers,89274.181043,29758.060348,Boston Uprising,Boston Uprising,36.936937
40975,2023-05-20 19:09:00,Spring Qualifiers,123130.519146,41043.506382,Los Angeles Gladiators,Los Angeles Gladiators,36.607143
40982,2023-05-26 20:38:00,Spring Qualifiers,96131.888044,32043.962681,Atlanta Reign,Atlanta Reign,36.283186
40989,2023-05-28 19:05:00,Spring Qualifiers,142845.076955,47615.025652,Toronto Defiant,Toronto Defiant,35.964912

In [406]:
# |export
def get_heroes_stat(stat: str) -> pd.Series:
    result = df[df['stat'] == stat].groupby('hero')['stat_amount'].sum().sort_values(ascending=False)
    result.name = stat
    result.index.name = 'Hero'
    return result

In [407]:
# get_heroes_stat('Hero Damage Done')

In [408]:
# |export
def get_players_stat(stat: str) -> pd.Series:
    result = df[df['stat'] == stat].groupby('player')['stat_amount'].sum().sort_values(ascending=False)
    result.name = stat
    result.index.name = 'Player'
    return result

In [409]:
# get_players_stat('Hero Damage Done')

In [410]:
# |exporti
def avg_stats_per_game(stat: str, player: str) -> pd.DataFrame:
    player_data = df[(df['stat'] == stat) & (df['player'] == player)]
    results = pd.DataFrame(columns=['Hero', 'Stat', 'Avg per game'])

    stat_data = player_data[player_data['stat'] == stat]
    avg_per_game = stat_data.groupby(['hero'])['stat_amount'].mean().reset_index()
    avg_per_game.columns = ['Hero', 'Avg per game']
    avg_per_game['Number of game'] = stat_data.groupby(['hero'])['stat_amount'].count().reset_index()['stat_amount']
    results = pd.concat([results, avg_per_game], ignore_index=True, sort=False)

    return results[['Hero', 'Avg per game', 'Number of game']]

In [411]:
# |export
def get_heroes_stat_by_player(stat: str, player: str) -> pd.Series:
    result = df[(df['stat'] == stat) & (df['player'] == player)].groupby('hero')['stat_amount'].sum().sort_values(
        ascending=False)
    result.name = stat
    result.index.name = 'Hero'
    stat_avg = avg_stats_per_game(stat, player)
    result = result.reset_index().merge(stat_avg, on='Hero', how='left')
    #reset index
    result = result.set_index('Hero')
    return result

In [412]:
# get_heroes_stat_by_player('Hero Damage Done', 'SoOn')
# df.head()
# avg_stats_per_game('SoOn')

In [413]:
# |export
def get_players_stat_by_team(stat: str, team: str) -> pd.DataFrame:
    result = df[(df['stat'] == stat) & (df['team'] == team)].groupby('player')['stat_amount'].sum().sort_values(
        ascending=False)
    result.name = stat
    result.index.name = 'Player'
    return result

In [414]:
# get_players_stat_by_team('Hero Damage Done', 'Paris Eternal')

In [415]:
# |export
def get_team_scores(team: str, map_type: str = None) -> pd.DataFrame:
    # stock every unique game from team (each game as a unique 'match_id'), team name is stocked in 'team_one_name' or 'team_two_name'
    team_games = map_stats[(map_stats['team_one_name'] == team) | (map_stats['team_two_name'] == team)]
    if map_type:  # only 1 row per game
        # add column 'map_type' from dataframe 'df'
        team_games = team_games.merge(df[['match_id', 'map_type']], on='match_id')
        print(team_games['map_type'].str.lower().unique())
        team_games = team_games[team_games['map_type'].str.lower() == map_type.lower()]
        # get one row per map
        team_games = team_games.drop_duplicates(subset='round_start_time')
        # do not keep twice same game_number per match_id
        df_grp = team_games.groupby(['match_id', 'game_number'])
        team_games = df_grp.first().reset_index()
    else:  # only 1 row per match
        # get one row per match
        team_games = team_games.drop_duplicates(subset='match_id')

    # get teams list
    opponents = team_games[['team_one_name', 'team_two_name']]
    # remove team input from opponents list
    opponents = opponents[opponents != team]
    # regroup in one column and remove duplicates
    opponents = opponents.stack().reset_index(drop=True).drop_duplicates()

    results = pd.DataFrame(columns=['team', 'opponent', 'win', 'loss', 'winrate', 'map_type', 'only_matches'])

    for opponent in opponents:
        matches = team_games[((team_games['team_one_name'] == team) &
                              (team_games['team_two_name'] == opponent)) | (
                                     (team_games['team_one_name'] == opponent) & (team_games['team_two_name'] == team))]

        if map_type:
            wins = matches['map_winner'] == team
        else:
            wins = matches['match_winner'] == team

        total_matches = matches.shape[0]
        if total_matches == 0:
            continue
        wins = wins.sum()
        losses = len(matches) - wins
        winrate = wins / total_matches

        row = pd.DataFrame(
            {'team': team, 'opponent': opponent, 'total_matches': total_matches, 'win': wins, 'loss': losses,
             'winrate': winrate * 100, 'map_type': map_type,
             'only_matches': not map_type}, index=[0])
        results = pd.concat([results, row])

    # rename columns
    results.rename(columns={'team': 'Team', 'opponent': 'Opponent', 'total_matches': 'Total Matches', 'win': 'Win',
                            'loss': 'Loss', 'winrate': 'Winrate', 'map_type': 'Map Type',
                            'only_matches': 'Only Matches'},
                   inplace=True)

    # reorder columns
    results = results[['Team', 'Opponent', 'Total Matches', 'Win', 'Loss', 'Winrate', 'Map Type', 'Only Matches']]
    if not map_type:
        results = results.drop(columns='Map Type')

    results = results.set_index('Team')
    return results

In [416]:
get_team_scores('Dallas Fuel')

C:\Users\antap\AppData\Local\Temp\ipykernel_4992\1787698808.py:49: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results = pd.concat([results, row])

,Opponent,Total Matches,Win,Loss,Winrate,Only Matches
Team,,,,,,
Dallas Fuel,Seoul Dynasty,8.0,3,5,37.500000,True
Dallas Fuel,Los Angeles Valiant,8.0,3,5,37.500000,True
Dallas Fuel,Houston Outlaws,14.0,8,6,57.142857,True
Dallas Fuel,London Spitfire,9.0,6,3,66.666667,True
Dallas Fuel,San Francisco Shock,20.0,8,12,40.000000,True
Dallas Fuel,Boston Uprising,9.0,5,4,55.555556,True
Dallas Fuel,Seoul Infernal,11.0,2,9,18.181818,True
Dallas Fuel,New York Excelsior,7.0,2,5,28.571429,True
Dallas Fuel,Shanghai Dragons,13.0,10,3,76.923077,True
Dallas Fuel,Los Angeles Gladiators,14.0,6,8,42.857143,True
Dallas Fuel,Florida Mayhem,10.0,7,3,70.000000,True
Dallas Fuel,Guangzhou Charge,3.0,0,3,0.000000,True
Dallas Fuel,Toronto Defiant,7.0,7,0,100.000000,True
Dallas Fuel,Vegas Eternal,7.0,3,4,42.857143,True
Dallas Fuel,Vancouver Titans,8.0,4,4,50.000000,True
Dallas Fuel,Washington Justice,11.0,9,2,81.818182,True
Dallas Fuel,Chengdu Hunters,6.0,2,4,33.333333,True
Dallas Fuel,Hangzhou Spark,4.0,1,3,25.000000,True
Dallas Fuel,Atlanta Reign,10.0,5,5,50.000000,True
Dallas Fuel,Sin Prisa Gaming,1.0,1,0,100.000000,True
Dallas Fuel,O2 Blast,1.0,1,0,100.000000,True

In [417]:
# get every team in alphabetical order
# df['team'].unique()

In [418]:
# get every map in alphabetical order
# df['map'].unique()

In [419]:
# get every hero in alphabetical order
# df['hero'].unique()

In [430]:
from nbdev.export import nb_export

nb_export("owl.ipynb", lib_path="./", name="owl_module")