In [193]:
# |exporti

import pandas as pd
import streamlit as st

from streamlit_jupyter import StreamlitPatcher

In [194]:
sp = StreamlitPatcher()
sp.jupyter()  # register patcher with streamlit

In [195]:
# |exporti
import os

project_name = 'Overgraph'
path = os.getcwd().split(project_name)[0] + project_name
owl_path = f'{path}/src/datas/owl'

# MAPS

In [196]:
# |export
map_stats = pd.read_csv(f'{owl_path}/match_map_stats.csv')

# 2018 STAGE 1

In [197]:
# |exporti
df_2018_s1 = pd.read_csv(f'{owl_path}/phs_2018_stage_1.csv')

In [198]:
# df_2018_s1

# 2018 STAGE 2

In [199]:
# |exporti
df_2018_s2 = pd.read_csv(f'{owl_path}/phs_2018_stage_2.csv')

In [200]:
# df_2018_s2

# 2018 STAGE 3

In [201]:
# |exporti
df_2018_s3 = pd.read_csv(f'{owl_path}/phs_2018_stage_3.csv')

In [202]:
# df_2018_s3

# 2018 STAGE 4

In [203]:
# |exporti
df_2018_s4 = pd.read_csv(f'{owl_path}/phs_2018_stage_4.csv')

In [204]:
# df_2018_s4

# 2018 PLAYOFFS

In [205]:
# |exporti
df_2018_po = pd.read_csv(f'{owl_path}/phs_2018_playoffs.csv')

In [206]:
# df_2018_po

# 2019 STAGE 1

In [207]:
# |exporti
df_2019_s1 = pd.read_csv(f'{owl_path}/phs_2019_stage_1.csv')

In [208]:
# df_2019_s1

# 2019 STAGE 2

In [209]:
# |exporti
df_2019_s2 = pd.read_csv(f'{owl_path}/phs_2019_stage_2.csv')

In [210]:
# df_2019_s2

# 2019 STAGE 3

In [211]:
# |exporti
df_2019_s3 = pd.read_csv(f'{owl_path}/phs_2019_stage_3.csv')

In [212]:
# df_2019_s3

# 2019 STAGE 4

In [213]:
# |exporti
df_2019_s4 = pd.read_csv(f'{owl_path}/phs_2019_stage_4.csv')

In [214]:
# df_2019_s4

# 2019 PLAYOFFS

In [215]:
# |exporti
df_2019_po = pd.read_csv(f'{owl_path}/phs_2019_playoffs.csv')

In [216]:
# df_2019_po

# 2020 STAGE 1

In [217]:
# |exporti
df_2020_s1 = pd.read_csv(f'{owl_path}/phs_2020_1.csv')

In [218]:
# df_2020_s1

# 2020 STAGE 2

In [219]:
# |exporti
df_2020_s2 = pd.read_csv(f'{owl_path}/phs_2020_2.csv')

In [220]:
# df_2020_s2

# 2021 STAGE

In [221]:
# |exporti
df_2021 = pd.read_csv(f'{owl_path}/phs_2021_1.csv')

In [222]:
# df_2021

# 2022 STAGE

In [223]:
# |exporti
df_2022 = pd.read_csv(f'{owl_path}/phs_2022.csv')

In [224]:
# df_2022

# 2023 STAGE

In [225]:
# |exporti
df_2023 = pd.read_csv(f'{owl_path}/phs_2023.csv')

In [226]:
# df_2023

# MERGE DATAFRAMES

In [227]:
# |export
# merge every dataframes in one
df = pd.concat(
    [df_2018_s1, df_2018_s2, df_2018_s3, df_2018_s4, df_2018_po, df_2019_s1, df_2019_s2, df_2019_s3, df_2019_s4,
     df_2019_po, df_2020_s1, df_2020_s2, df_2021, df_2022, df_2023])

In [228]:
# df

# CLEAN DATA

In [229]:
# |exporti
df.replace({'hero': 'McCree'}, 'Cassidy', inplace=True)
df.replace({'hero': 'Lucio'}, 'Lúcio', inplace=True)
df.replace({'hero': 'Torbjorn'}, 'Torbjörn', inplace=True)
df = df[df['map_type'].str.lower() != 'UNKNOWN'.lower()]
df.replace({'team': 'Paris Eternal'}, 'Vegas Eternal', inplace=True)
df.replace({'team': 'Philadelphia Fusion'}, 'Seoul Infernal', inplace=True)
for col in ['match_winner', 'map_winner', 'map_loser', 'attacker', 'defender', 'team_one_name', 'team_two_name']:
    map_stats.replace({col: 'Paris Eternal'}, 'Vegas Eternal', inplace=True)
    map_stats.replace({col: 'Philadelphia Fusion'}, 'Seoul Infernal', inplace=True)

# PLAYGROUND

In [230]:
df.columns

Index(['start_time', 'match_id', 'stage', 'map_type', 'map', 'player', 'team',
       'stat', 'hero', 'stat_amount'],
      dtype='object')

In [231]:
map_stats.columns

Index(['round_start_time', 'round_end_time', 'stage', 'match_id',
       'game_number', 'match_winner', 'map_winner', 'map_loser', 'map_name',
       'map_round', 'winning_team_final_map_score',
       'losing_team_final_map_score', 'control_round_name', 'Attacker',
       'Defender', 'team_one_name', 'team_two_name',
       'attacker_payload_distance', 'defender_payload_distance',
       'attacker_time_banked', 'defender_time_banked',
       'attacker_control_perecent', 'defender_control_perecent',
       'attacker_round_end_score', 'defender_round_end_score'],
      dtype='object')

In [232]:
# |export
def get_heroes_stat(stat: str) -> pd.Series:
    result = df[df['stat'] == stat].groupby('hero')['stat_amount'].sum().sort_values(ascending=False)
    result.name = stat
    result.index.name = 'Hero'
    return result

In [233]:
# get_heroes_stat('Hero Damage Done')

In [234]:
# |export
def get_players_stat(stat: str) -> pd.Series:
    result = df[df['stat'] == stat].groupby('player')['stat_amount'].sum().sort_values(ascending=False)
    result.name = stat
    result.index.name = 'Player'
    return result

In [235]:
# get_players_stat('Hero Damage Done')

In [236]:
# |exporti
def avg_stats_per_game(stat: str, player: str) -> pd.DataFrame:
    player_data = df[(df['stat'] == stat) & (df['player'] == player)]
    results = pd.DataFrame(columns=['Hero', 'Stat', 'Avg per game'])

    stat_data = player_data[player_data['stat'] == stat]
    avg_per_game = stat_data.groupby(['hero'])['stat_amount'].mean().reset_index()
    avg_per_game.columns = ['Hero', 'Avg per game']
    avg_per_game['Number of game'] = stat_data.groupby(['hero'])['stat_amount'].count().reset_index()['stat_amount']
    results = pd.concat([results, avg_per_game], ignore_index=True, sort=False)

    return results[['Hero', 'Avg per game', 'Number of game']]

In [247]:
# |export
def get_heroes_stat_by_player(stat: str, player: str) -> pd.Series:
    result = df[(df['stat'] == stat) & (df['player'] == player)].groupby('hero')['stat_amount'].sum().sort_values(
        ascending=False)
    result.name = stat
    result.index.name = 'Hero'
    stat_avg = avg_stats_per_game(stat, player)
    result = result.reset_index().merge(stat_avg, on='Hero', how='left')
    #reset index
    result = result.set_index('Hero')
    return result

In [248]:
get_heroes_stat_by_player('Hero Damage Done', 'SoOn')
# df.head()
# avg_stats_per_game('SoOn')

C:\Users\omist\AppData\Local\Temp\ipykernel_2520\2698184437.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results = pd.concat([results, avg_per_game], ignore_index=True, sort=False)

             Hero Damage Done  Avg per game  Number of game
Hero
All Heroes       3.471344e+06  10551.198164           329.0
Tracer           1.117671e+06   5505.769189           203.0
Widowmaker       8.412565e+05   5427.461158           155.0
Zarya            4.540467e+05   8731.667921            52.0
Reaper           2.464126e+05   5866.966213            42.0
Sombra           1.892018e+05   3503.737354            54.0
Ashe             1.616637e+05   8508.613814            19.0
Cassidy          1.578507e+05   2428.471813            65.0
Hanzo            7.359692e+04   3873.521911            19.0
Symmetra         6.375518e+04   3984.699046            16.0
Junkrat          6.177393e+04   3251.259295            19.0
Bastion          4.808167e+04   3698.589662            13.0
Torbjörn         2.485384e+04   4142.306001             6.0
Soldier: 76      1.818807e+04   2273.509267             8.0
Brigitte         5.557341e+03   1111.468206             5.0
Doomfist         3.000751e+03    428.678773             7.0
Roadhog          2.571373e+03   2571.373146             1.0
Mei              1.862042e+03    620.680663             3.0

In [239]:
# |export
def get_players_stat_by_team(stat: str, team: str) -> pd.DataFrame:
    result = df[(df['stat'] == stat) & (df['team'] == team)].groupby('player')['stat_amount'].sum().sort_values(
        ascending=False)
    result.name = stat
    result.index.name = 'Player'
    return result

In [240]:
# get_players_stat_by_team('Hero Damage Done', 'Paris Eternal')

In [252]:
# |export
def get_team_scores(team: str, map_type: str = None) -> pd.DataFrame:
    # stock every unique game from team (each game as a unique 'match_id'), team name is stocked in 'team_one_name' or 'team_two_name'
    team_games = map_stats[(map_stats['team_one_name'] == team) | (map_stats['team_two_name'] == team)]
    if map_type:  # only 1 row per game
        # add column 'map_type' from dataframe 'df'
        team_games = team_games.merge(df[['match_id', 'map_type']], on='match_id')
        print(team_games['map_type'].str.lower().unique())
        team_games = team_games[team_games['map_type'].str.lower() == map_type.lower()]
        # get one row per map
        team_games = team_games.drop_duplicates(subset='round_start_time')
        # do not keep twice same game_number per match_id
        df_grp = team_games.groupby(['match_id', 'game_number'])
        team_games = df_grp.first().reset_index()
    else:  # only 1 row per match
        # get one row per match
        team_games = team_games.drop_duplicates(subset='match_id')

    # get teams list
    opponents = team_games[['team_one_name', 'team_two_name']]
    # remove team input from opponents list
    opponents = opponents[opponents != team]
    # regroup in one column and remove duplicates
    opponents = opponents.stack().reset_index(drop=True).drop_duplicates()

    results = pd.DataFrame(columns=['team', 'opponent', 'win', 'loss', 'winrate', 'map_type', 'only_matches'])

    for opponent in opponents:
        matches = team_games[((team_games['team_one_name'] == team) &
                              (team_games['team_two_name'] == opponent)) | (
                                     (team_games['team_one_name'] == opponent) & (team_games['team_two_name'] == team))]

        if map_type:
            wins = matches['map_winner'] == team
        else:
            wins = matches['match_winner'] == team

        total_matches = matches.shape[0]
        if total_matches == 0:
            continue
        wins = wins.sum()
        losses = len(matches) - wins
        winrate = wins / total_matches

        row = pd.DataFrame(
            {'team': team, 'opponent': opponent, 'total_matches': total_matches, 'win': wins, 'loss': losses,
             'winrate': winrate * 100, 'map_type': map_type,
             'only_matches': not map_type}, index=[0])
        results = pd.concat([results, row])

    # rename columns
    results.rename(columns={'team': 'Team', 'opponent': 'Opponent', 'total_matches': 'Total Matches', 'win': 'Win',
                            'loss': 'Loss', 'winrate': 'Winrate', 'map_type': 'Map Type',
                            'only_matches': 'Only Matches'},
                   inplace=True)

    # reorder columns
    results = results[['Team', 'Opponent', 'Total Matches', 'Win', 'Loss', 'Winrate', 'Map Type', 'Only Matches']]
    if not map_type:
        results = results.drop(columns='Map Type')

    results = results.set_index('Team')
    return results

In [253]:
get_team_scores('Dallas Fuel')

C:\Users\omist\AppData\Local\Temp\ipykernel_2520\1787698808.py:49: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results = pd.concat([results, row])

,Opponent,Total Matches,Win,Loss,Winrate,Only Matches
Team,,,,,,
Dallas Fuel,Seoul Dynasty,8.0,3,5,37.500000,True
Dallas Fuel,Los Angeles Valiant,8.0,3,5,37.500000,True
Dallas Fuel,Houston Outlaws,14.0,8,6,57.142857,True
Dallas Fuel,London Spitfire,9.0,6,3,66.666667,True
Dallas Fuel,San Francisco Shock,20.0,8,12,40.000000,True
Dallas Fuel,Boston Uprising,9.0,5,4,55.555556,True
Dallas Fuel,Seoul Infernal,11.0,2,9,18.181818,True
Dallas Fuel,New York Excelsior,7.0,2,5,28.571429,True
Dallas Fuel,Shanghai Dragons,13.0,10,3,76.923077,True
Dallas Fuel,Los Angeles Gladiators,14.0,6,8,42.857143,True
Dallas Fuel,Florida Mayhem,10.0,7,3,70.000000,True
Dallas Fuel,Guangzhou Charge,3.0,0,3,0.000000,True
Dallas Fuel,Toronto Defiant,7.0,7,0,100.000000,True
Dallas Fuel,Vegas Eternal,7.0,3,4,42.857143,True
Dallas Fuel,Vancouver Titans,8.0,4,4,50.000000,True
Dallas Fuel,Washington Justice,11.0,9,2,81.818182,True
Dallas Fuel,Chengdu Hunters,6.0,2,4,33.333333,True
Dallas Fuel,Hangzhou Spark,4.0,1,3,25.000000,True
Dallas Fuel,Atlanta Reign,10.0,5,5,50.000000,True
Dallas Fuel,Sin Prisa Gaming,1.0,1,0,100.000000,True
Dallas Fuel,O2 Blast,1.0,1,0,100.000000,True

In [243]:
# get every team in alphabetical order
df['team'].unique()

array(['Los Angeles Valiant', 'San Francisco Shock',
       'Los Angeles Gladiators', 'Shanghai Dragons', 'Dallas Fuel',
       'Seoul Dynasty', 'Florida Mayhem', 'London Spitfire',
       'Houston Outlaws', 'Seoul Infernal', 'Boston Uprising',
       'New York Excelsior', 'Hangzhou Spark', 'Toronto Defiant',
       'Atlanta Reign', 'Chengdu Hunters', 'Guangzhou Charge',
       'Vegas Eternal', 'Washington Justice', 'Vancouver Titans',
       'Brick Movers', 'Jehong and Students', 'Team Universe', 'Triple A',
       'Team Custa', 'Team Jake', 'Team D.va', 'Team Reinhardt',
       'Trick Room', 'Timeless', 'Saints', 'Twisted Minds', 'Team Peps',
       'WISP', 'Redbird Esports', 'Dreamers', 'Poker Face', 'Rhodes',
       'O2 Blast', 'PANTHERA', 'Sin Prisa Gaming'], dtype=object)

In [244]:
# get every map in alphabetical order
# df['map'].unique()

In [245]:
# get every hero in alphabetical order
# df['hero'].unique()

In [255]:
from nbdev.export import nb_export

nb_export("owl.ipynb", lib_path="./", name="owl_module")